{% extends "root.html" %}
{% block title %}  {% endblock %}

{% block head %}
    {{ super() }}
    <title>Welcome | OnTheHouse</title>
    <style>
    #create_recipe_splash
    {
        display: flex;
        flex-direction: column;
        margin: 16px;
        padding: 16px;
        border: 2px solid #dddd00;
        background-color: #ffffaa;
        border-radius: 6px;
    }
    #create_recipe_splash *
    {
        align-self: center;
        justify-self: center;
    }
    #recipe_area
    {
        margin: 16px;
    }
    </style>
{% endblock %}

{% import 'macros.html' as macros%}

{% block body %}
<div class="row content">
    <div class="col-sm-12">
        <div class="row content">
            <div id="create_recipe_splash" class="col-sm">
                <span>Have something to share?</span>
                {% if session_user %}
                    {% set href='/newrecipe' %}
                {% else %}
                    {% set href='/register' %}
                {% endif %}
                <a href="{{href}}"><button class="btn btn-default">Publish a recipe!</button></a>
            </div>
            <div id="recipe_area">
                {% if session_user %}
                    <div class="row"></div>
                    {% set your_feed = session_user.get_feed() %}
                    {% if your_feed %}
                    <h3>Your <a href="/feed">feed</a>:</h3>
                    <div>
                        {% for feed_item in your_feed[:12] %}
                            {% if feed_item.__class__.__name__ == "Review" %}
                                {{ macros.review_card(feed_item) }}
                            {% else %}
                                {{ macros.recipe_card(feed_item) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}


                    <div class="row"></div>
                    {% if user_recipes %}
                    <h3>Your recipes:</h3>
                    <div>
                        {% for recipe in user_recipes %}
                            {{ macros.recipe_card(recipe) }}
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endif %}

                <div class="row"></div>
                <h3>Community recipes:</h3>
                <div>
                    {% for recipe in other_recipes %}
                        {{ macros.recipe_card(recipe) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}
