<!DOCTYPE html>
<html>

{% macro recipe_card(recipe, size ='m') %}
    {% if size == 's' %}
    <div style="text-align:center; " class="recipe-box">
        <a style="text-decoration: none;" href="/recipe/{{recipe.id}}/{{recipe.slug}}">
            <div class="well" style="height:280px">
                <img height="120" class="img-rounded" alt="Recipe Image" src="{{'/static/default_recipe_pic.jpg' if recipe.recipe_image_id is none else '/image/' + recipe.recipe_image_id }}">
                <h4>{{ recipe.name }}</h4>
                <h5>Added: {{ recipe.date_added|unix_to_human }}</h5>
            </div>
        </a>
    </div>
    {% elif size == 'm' %}
    <div style="text-align:center; " class="recipe-box">
        <a style="text-decoration: none;" href="/recipe/{{recipe.id}}/{{recipe.slug}}">
            <div class="well">
                <img height="240" class="img-rounded" alt="Recipe Image" src="{{'/static/default_recipe_pic.jpg' if recipe.recipe_image_id is none else '/image/' + recipe.recipe_image_id }}">
                <h3>{{ recipe.name }}</h3>
                <h4>Added: {{ recipe.date_added|unix_to_human }}</h4>
            </div>
        </a>
    </div>
    {% elif size == 'l' %}
    <div style="text-align:center; " class="recipe-box">
        <a style="text-decoration: none;" href="/recipe/{{recipe.id}}/{{recipe.slug}}">
            <div class="well">
                <img height = "400" class="img-rounded" alt="Recipe Image" src="{{'/static/default_recipe_pic.jpg' if recipe.recipe_image_id is none else '/image/' + recipe.recipe_image_id }}">
                <h2>{{ recipe.name }}</h2>
                <h3>Added: {{ recipe.date_added|unix_to_human }}</h3>
            </div>
        </a>
    </div>
    {% endif %}
{% endmacro %}

</html>
