{% extends "root.html" %}
{% block title %} New Review {% endblock %}

{% block head %}
    {{ super() }}
    <title>Reviewing {{recipe.name}} | OnTheHouse</title>
{% endblock %}

<style>

form .stars {
  background: url("stars.png") repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}
 
form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("/static/favicon.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}
</style>

<label>
  <input type="radio">
  <img src="static/favicon.jpg">
</label>

{% block body %}
{% if session_user %}
    <div class="row content">
        <div class="col-sm-5">
            <h1 style="padding-top:50px;font-family:Verdana;font-size:32px;color:#555555;text-shadow:2px 2px #dddddd">Reviewing <a style="color:#ee3333" href="/recipe/{{recipe.id}}/{{recipe.slug}}">{{recipe.name}}</a></h1>
            <p>Rate this recipe:</p>
            <div id="ratingsForm">
                <div class="stars">
                    <input type="radio" name="star" value="1" id="star-1" /> <label class="star-1" for="star-1">1</label> |
                    <input type="radio" name="star" value="2" id="star-2" /> <label class="star-2" for="star-2">2</label> |
                    <input type="radio" name="star" value="3" id="star-3" /> <label class="star-3" for="star-3">3</label> |
                    <input type="radio" name="star" value="4" id="star-4" /> <label class="star-4" for="star-4">4</label> |
                    <input type="radio" name="star" value="5" id="star-5" /> <label class="star-5" for="star-5">5</label>
                    <span></span>
                </div>
            <textarea id="review_text" rows="15" cols="70" class = "form-control" placeholder="Give a written review..."></textarea>
            <button class="btn btn-default" style="background-color:#ee3333;border:none;
    color:efefef" onclick="submit_review()">Post review</button>
            </div>
        </div>
    </div>

    <script>
    function submit_review()
    {
        var selected_star = document.querySelector("input[name='star']:checked");
        var score;
        if (selected_star == null)
        {
            score = null;
        }
        else
        {
            score = selected_star.value;
        }
        var text = document.getElementById("review_text").value;
        var data = new FormData();

        data.append("score", score);
        data.append("text", text);
        var url = "/recipe/{{recipe.id}}/{{recipe.slug}}/newreview";
        console.log("hi");
        post(url, data, receive_callback);
    }
    function receive_callback(response)
    {
        console.log("h");
    }
    </script>
{% else %}
<meta http-equiv="refresh" content="0; url=/recipe/{{recipe.id}}/{{recipe.slug}}">
{% endif %}
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}