{% extends "root.html" %}
{% block title %} New Recipe {% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block body %}
    <div class="row content">
        <div class="col-sm-5">
            <h1>New Recipe:</h1>
            <input type="text" id="recipe-name" class="form-control" placeholder="Recipe Name">
            <p></p>
            <input type="text" id="recipe-blurb" class="form-control" placeholder="Recipe Blurb">
            <p></p>
            <input type="text" id="country-of-origin" class="form-control" placeholder="Country of Origin">
            <p></p>
            <input type="text" id="cuisine" class="form-control" placeholder="Cuisine">
            <p></p>
            <input type="text" id="meal-type" class="form-control" placeholder="Meal Type">
            <p></p>
            <input type="text" id="prep-time" class="form-control" placeholder="Prep Time">
            <p></p>
            <input type="text" id="serving-size" class="form-control" placeholder="Serving Size">
            <p></p>
            <p>Enter ingredients: ('1 cup','flour'), ('1 pound','ground','beef'), etc..</p>
            <textarea id="ingredients" rows="15" cols="70" class = "form-control" placeholder="Ingredients"></textarea>
            <p></p>
            <textarea id="instructions" rows="15" cols="70" class = "form-control" placeholder="Instructions"></textarea>
            <!--<input type="image" id="recipeimage" class="form-control" placeholder="Recipe Image">-->

            <button class="btn btn-default" type="button" onclick="submit_recipe()">Create</button>
        </div>
    </div>

    <script>
    function submit_recipe()
    {
        var recipename = document.getElementById("recipe-name").value;
        var blurb = document.getElementById("recipe-blurb").value;
        var countryoforigin = document.getElementById("country-of-origin").value;
        var cuisine = document.getElementById("cuisine").value;
        var mealtype = document.getElementById("meal-type").value;
        var preptime = document.getElementById("prep-time").value;
        var servingsize = document.getElementById("serving-size").value;
        var ingredients = document.getElementById("ingredients").value;
        var instructions = document.getElementById("instructions").value;
        var data = new FormData();
        
        data.append("recipe name", recipename);
        data.append("recipe blurb", blurb);
        data.append("country of origin", countryoforigin);
        data.append("cuisine", cuisine);
        data.append("meal type", mealtype);
        data.append("prep time", preptime);
        data.append("serving size", servingsize);
        data.append("ingredients", ingredients);
        data.append("instructions", instructions);
        var url = "/newrecipe";
        return post(url, data, receive_callback);
    }

    function receive_callback(response)
    {
        if ("error_type" in response)
        {
            
        }
        else
        {
            window.location.href = "/recipe/" + response['recipeid'];
        }
    }
    </script>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}