{% extends "root.html" %}
{% block head %}
    {{ super() }}
    <title>{{ user.display_name }}   | OnTheHouse</title>
    <style>
    .user-recipe img {
    border-radius:12px;
    width:100%;
    }

    .user-recipes{
    margin-top:30px;
    /*font-family: 'Rubik Mono One', sans-serif;*/

    }
    .user-recipe{
    font-family: 'Roboto', sans-serif;
    }

    .profile.h2{
    font-family: 'Rubik Mono One', sans-serif;
    }

    .profile.h3{
    font-family: 'Oxygen', sans-serif;
    }

    .pic{
        padding-top: 15px;
    }
</style>
{% endblock %}

{% import 'macros.html' as macros%}

{% block body %}
    <div class="row content">
        <div class="col-sm-12 profile">
            <div class ="col-sm-4 pic">
                <img class="img-rounded" width="100%" src="/user/{{user.username}}/profilepic.jpg" alt="Profile picture">
            </div>
            <div class="col-sm-6">
                <h2>{{ user.display_name }}</h2>
                <h4 id="join-date">Member Since {{ user.date_joined|unix_to_human }}</h4>
                {% if user.bio_text %}<p id="bio" class="well well-lg">{{ user.bio_text }}</p>{% endif %}
            </div>
            {% if session_user == user %}
            <div id="update_user_splash" class="col-sm">
                <span>Did you grow as a person?</span>
                    {% set href='/updateuser' %}
                <a href="{{href}}"><button class="btn btn-default">Update your profile!</button></a>
            </div>
            {% endif %}
            <div class="col-sm-2"></div>
        <div class="col-sm-12"></div>

        {% if session_user and session_user != user %}
            {% set is_following = user in session_user.get_following() %}
            <div class="row"></div>
            <button class="col-sm-4 btn btn-default"
            onclick="{% if is_following %}submit_unfollow(){% else %}submit_follow(){% endif %}">
                {%- if is_following -%}
                    Unfollow <span class="glyphicon glyphicon-user"><span class="glyphicon glyphicon-minus">
                {%- else -%}
                    Follow! <span class="glyphicon glyphicon-user"><span class="glyphicon glyphicon-plus">
                {%- endif %}
            </button>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 user-recipes">
                <h2 style="text-align:center;">{{user.display_name}}'s Recipes</h2>
            </div>

            <div class="col-sm-12"></div>
            {% for recipe in recipes %}
                {{ macros.recipe_card(recipe) }}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-12 user-reviews">
                <h2 style="text-align:center;">{{user.display_name}}'s Reviews</h2>
            </div>

            <div class="col-sm-12"></div>
            {% for review in user.get_reviews() %}
                {{ macros.review_card(review) }}
            {% endfor %}
        </div>
        </div>
    </div>

    <script>
    function receive_callback(response)
    {
        if ("error_type" in response)
        {

        }
        else
        {
            window.location.reload();
        }
    }
    function submit_follow()
    {
        var url = "/user/{{user.username}}/follow";
        var data = new FormData();
        post(url, data, receive_callback);
    }
    function submit_unfollow()
    {
        var url = "/user/{{user.username}}/unfollow";
        var data = new FormData();
        post(url, data, receive_callback);
    }
    </script>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}
