{% extends "root.html" %}
{% block title %}  {% endblock %}

{% block head %}
    {{ super() }}
    <title>All Recipes | OnTheHouse</title>
    <style>
        .recipes-main
        {
            padding-top:15px;
        }
    </style>
{% endblock %}

{% import 'macros.html' as macros%}

{% block body %}
<div class="row content">
    <div class="recipes-main col-sm-12">
        <div class="row content">
            <div class="col-sm">
                {% for recipe in recipes %}
                    {{ macros.recipe_card(recipe) }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
<
{% block footer %} {{ super() }} {% endblock %}
