<!DOCTYPE html5>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Oxygen|Rubik+Mono+One|Roboto" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/static/common.js"></script>

        <link rel="stylesheet" href="/static/common.css">
        <link rel="stylesheet" href="/static/recipes.css">

    {% endblock %}
        <title>Home | OnTheHouse</title>
    <style>
    #logo
    {
        width: 100%;
    }
    #searchform_strict_label
    {
        display: inline-flex;
        align-items: center;
    }
    #searchform_strict
    {
        display: inline-block;
        width: 34px;
        height: 34px;
    }
    #searchform_submit
    {
        display: block;
        width: 100%;
    }
    .sidenav li a {
        background-color: #ee3333;
	color: #efefef;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
    }

    .sidenav li a:hover {
	background-color: #efefef;
	color: #ee3333;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
    }

    body {
        background-color: #ffe6e6;
    }
    .ingredient-autosuggest-list
    {
        background-color: white;
        position: absolute;
        border: 1px solid black;
        margin-left: 5px;
        margin-right: 5px;
        padding: 4px;
        top: 34px;
        z-index: 3;
    }
    </style>
</head>


<body>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav" style="background-image:url('/static/tilablepicnic.png');background-size:50px 50px;font-family:Verdana">
                <h4><a href="/"><img id="logo" src="/static/onthehouselogo.png" alt="On the House"/></a></h4>
                <ul id="nav-list" class="nav nav-pills nav-stacked">
                    <li><a href="/">Home</a></li>
                    <li><a href="/recipe">Explore</a></li>
                {% if session_user %}
                    <li><a href="/user/{{session_user.username}}">Welcome, {{session_user.display_name}}</a></h5>
                    <li><a href="/logout"> Logout</a></li>
                {% else %}
                    <li><a href="/register">New? Register Here!</a></li>
                {% endif %}
                </ul><br>

                <div class="input-group" style="background-color:#ee3333;border:8px solid #ee3333;border-radius:5px; width: 100%">
                    <div id="basic_searchform">
                        <input type="text" id="searchform_name" class="form-control" placeholder="Recipe Name..."/>
                        <div class="autosuggest-container">
                            <input type="text" id="searchform_ingredients" class="ingredient-autosuggest-form form-control" placeholder="Search Ingredients..."/>
                        </div>
                        <div class="autosuggest-container">
                            <input type="text" id="searchform_exclude" class="ingredient-autosuggest-form form-control" placeholder="Exclude Ingredients..."/>
                        </div>
                        <label id="searchform_strict_label">
                            <input type="checkbox" id="searchform_strict" class="form-control" placeholder/><span style="color:#efefef">Strict Search</span>
                        </label>
                        <button id="searchform_submit" class="btn btn-default" onclick="submit_search()">Search! <span class="glyphicon glyphicon-search"></span></button>
                    </div>

                    <!--
                    <form id="searchForm" action="/recipe/search" method="get">
                        <input type="text" class="form-control" name="ingredients" placeholder="Search Ingredients...">
                    </form>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" form="searchForm">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    -->
                </div>

            </div>
        <div class="col-sm-9">{% block body %}{% endblock %}</div>
        </div>
    </div>
    <div id="footer">
        {% block footer %}
        <footer class="container-fluid">
            &copy; Copyright 2018 by <a href="https://delta-co.github.io/">Delta Co.</a> This site uses <a href="/recipe/search?name=cookie">cookies</a> to enhance user experience.
        </footer>
        {% endblock %}
    </div>
</body>


<script type="text/javascript">
function el(id){return document.getElementById(id)};
bind_enter(el("searchform_name"), el("searchform_submit"));
bind_enter(el("searchform_ingredients"), el("searchform_submit"));
bind_enter(el("searchform_exclude"), el("searchform_submit"));

var ALL_INGREDIENTS = [];
function set_all_ingredients_callback(response)
{
    console.log("Downloaded ingredients");
    ALL_INGREDIENTS = response;
}
get("/all_ingredients", set_all_ingredients_callback);

function apply_ingredient_autosuggest(element)
{
    console.log("Test");
    var autosuggest_div = document.createElement("div");
    autosuggest_div.classList.add("ingredient-autosuggest-list");
    autosuggest_div.classList.add("hidden");
    //autosuggest_div.innerText = "HO HO HO";
    element.__autosuggest_div = autosuggest_div;
    function hide_div(){
        //console.log("hiding autosuggest");
        autosuggest_div.classList.add("hidden")
    };
    function show_div(){
        //console.log("showing autosuggest");
        autosuggest_div.classList.remove("hidden")
    };
    function update_suggestions()
    {
        var value = element.value;
        value = value.split(/,/g);
        value = value[value.length - 1];
        value = value.trim();
        value = value.toLocaleLowerCase();

        var suggestions = [];
        if (value !== "")
        {
            for (var index = 0; index < ALL_INGREDIENTS.length; index += 1)
            {
                var ingredient = ALL_INGREDIENTS[index];
                if (ingredient.toLocaleLowerCase().indexOf(value) != -1)
                {
                    suggestions.push(ingredient);
                }
            }
        }
        if (suggestions.length > 0)
        {
            autosuggest_div.innerHTML = suggestions.join("<br>");
            show_div();
        }
        else
        {
            hide_div();
        }
    }
    element.addEventListener("focus", show_div);
    element.addEventListener("focus", update_suggestions);
    element.addEventListener("blur", hide_div);
    element.addEventListener("keyup", update_suggestions);
    var cont_rect = element.parentElement.getBoundingClientRect();
    var elem_rect = element.getBoundingClientRect();
    var top = elem_rect.bottom - cont_rect.bottom;
    autosuggest_div.style.top = top;
    element.parentElement.appendChild(autosuggest_div);
}

Array.from(document.getElementsByClassName("ingredient-autosuggest-form")).forEach(apply_ingredient_autosuggest);

function join_parameters(parameters)
{
    if (parameters.length == 0)
    {
        return "";
    }
    var parameters = "?" + parameters.join("&");
    return parameters;
}
function build_search_url()
{
    parameters = [];

    var name = document.getElementById("searchform_name").value.trim();
    if (name)
        {parameters.push("name=" + name)}

    var ingredients = document.getElementById("searchform_ingredients").value.trim();
    if (ingredients)
        {parameters.push("ingredients=" + ingredients)}

    var exclude = document.getElementById("searchform_exclude").value.trim();
    if (exclude)
        {parameters.push("exclude=" + exclude)};

    var strict = document.getElementById("searchform_strict").checked;
    if (strict)
    {
        // False is already the default so only include if true.
        parameters.push("strict=" + strict);
    }
    parameters = join_parameters(parameters);
    var url = "/recipe/search" + parameters;
    return url;
}
function submit_search()
{
    url = build_search_url();
    window.location.href = url;
}

function prefill_searchform_from_url()
{
    /*
    Take the arguments out of the URL and put them into the searchform.
    */
    var parameters = new URL(location.href).searchParams;


    var name = parameters.get("name");
    if (name != null)
        {document.getElementById("searchform_name").value = name.trim();}

    var ingredients = parameters.get("ingredients");
    if (ingredients != null)
        {document.getElementById("searchform_ingredients").value = ingredients.replace(/_/, " ");}

    var exclude = parameters.get("exclude");
    if (exclude != null)
        {document.getElementById("searchform_exclude").value = exclude.replace(/_/, " ");}

    var strict = parameters.get("strict");
    if (strict != null)
        {document.getElementById("searchform_strict").checked = strict;}
}

document.addEventListener("DOMContentLoaded", prefill_searchform_from_url);

</script>
</html>
