{% extends "root.html" %}
{% block title %} Update User {% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block body %}
    <div class="row content">
        <div class="col-sm-5">
            <h1>Update Form</h1>
            <p></p>
            <input type="text" id="new-displayname" class="form-control" placeholder="Display Name (appears on your profile)">
            <p></p>
            <p></p>
            <input type="password" id="new-password1" class="form-control" placeholder=" New Password">
            <p></p>
            <input type="password" id="new-password2" class="form-control" placeholder="Re-enter Password">
            <p></p>
            <p></p>
            <textarea id="user-blurb" rows="5" cols="70" class = "form-control" placeholder="Blurb"></textarea>
            <div>
                <label for="image_uploads">Choose image to upload (PNG, JPG)</label>
                <input type="file" id="user-image" name="user image" enctype="multipart/form-data" accept=".jpg, .jpeg, .png" >
            </div>
            <p></p>
            <button class="btn btn-default" type="button" onclick="submit_update()">Update</button>
        </div>
    </div>

    <script>

    function submit_update()
    {
        var displayname = document.getElementById("new-displayname").value;
        var password1 = document.getElementById("new-password1").value;
        var password2 = document.getElementById("new-password2").value;
        var blurb = document.getElementById("user-blurb").value;
        var uimage = document.getElementById("user-image").files[0];
        var data = new FormData();
       
        data.append("displayname", displayname);
        data.append("new password", password1);
        data.append("re-enter password", password2);
        data.append("blurb", blurb);
        data.append("user image", uimage);
        var url = "/updateuser";
        return post(url, data, receive_callback);
    }
    function receive_callback(response)
    {
        if ("error_type" in response)
        {
        }
        else
        {
            window.location.href = "/user/" + response['username'];
        }
    }
    </script>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}