{% extends "root.html" %}
{% block title %} Update User {% endblock %}

{% block head %}
    {{ super() }}

<style>
    h1 {
        padding-top:50px;
        font-family:Verdana;font-size:32px;color:#555555;text-shadow:2px 2px #dddddd
    }
    p {
        font-family:Verdana;
    }
</style>

{% endblock %}

{% block body %}
    <div class="row content">
        <div class="col-sm-5">
            <h1>Editing your profile</h1>
            <p></p>
            <p>Display Name</p>
            {% set display_name = session_user.display_name or "" %}
            <input type="text" id="new-displayname" class="form-control" value="{{display_name}}">
            <p></p>
            <p>New Password</p>
            <input type="password" id="new-password1" class="form-control" >
            <p></p>
            <p>New Password (re-enter)</p>
            <input type="password" id="new-password2" class="form-control" >
            <p></p>
            <p>Biography</p>
            {% set bio_text = session_user.bio_text or "" %}
            <textarea id="user-bio-text" rows="5" cols="70" class = "form-control">{{bio_text}}</textarea>
            <div>
                <label for="image_uploads" style="font-family:Verdana">Choose image to upload (PNG, JPG)</label>
                <input type="file" id="user-image" name="user image" enctype="multipart/form-data" accept=".jpg, .jpeg, .png" >
            </div>
            <p></p>
            <a class="btn btn-default" href="/user/{{session_user.username}}">Cancel</a>
            <button class="btn btn-default red_button" type="button" onclick="submit_update()">Confirm changes</button>
        </div>
    </div>

    <script>

    function submit_update()
    {
        var displayname = document.getElementById("new-displayname").value;
        var password1 = document.getElementById("new-password1").value;
        var password2 = document.getElementById("new-password2").value;
        var bio_text = document.getElementById("user-bio-text").value;
        var uimage = document.getElementById("user-image").files[0];
        var data = new FormData();
       
        data.append("displayname", displayname);
        data.append("new password", password1);
        data.append("re-enter password", password2);
        data.append("bio text", bio_text);
        data.append("user image", uimage);
        var url = "/updateuser";
        return post(url, data, receive_callback);
    }
    function receive_callback(response)
    {
        if ("error_type" in response)
        {
        }
        else
        {
            window.location.href = "/user/" + response['username'];
        }
    }
    </script>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}